$min-width: 960px;
$min-width-container: 940px;
$min-width-nav: 620px;
$max-width-nav-user: 140px;
$index-column-left: 380px;
$index-column-right: 300px;
$filter-width: 180px;
$catalog-width: 700px;
$product-photos-width: 460px;

$color-primary: #000000;
$color-secondary: #ffffff;
$color-tertiary: #663d15;

$color-text-primary: #ffffff;
$color-text-secondary: #000000;
$color-text-breadcrumbs: #aba9a7;

$color-background-primary: #f8f5f2;
$color-background-secondary: #232323;
$color-background-tertiary: #242424;
$color-background-border: #cccccc;
$color-background-modal: #f8f3f0;
$color-background-modal-overlay: rgba(0, 0, 0, 0.5);
$color-background-modal-close-button: #d0d0d0;
$color-background-modal-input: #f9f6f3;
$color-background-catalog-item: #f8f8f8;
$color-background-catalog-item-price: #e5e5e5;

$color-shadow-footer: rgba(0, 0, 0, 0.5);
$color-shadow-modal: rgba(0, 0, 0, 0.7);
$color-shadow-catalog-item: rgba(0, 0, 0, 0.1);
$color-shadow-catalog-item-hover: rgba(0, 0, 0, 0.2)